conceptual_captions/*tsv*
conceptual_captions/train.*
conceptual_captions/valid.*
conceptual_captions/test.*
multi30k/train.*
multi30k/test*
multi30k/val*
conceptual_captions/images/[0-9]*
conceptual_captions/images/test
conceptual_captions/images/valid
conceptual_captions/images/train
*.bz2
*.xz
*.gz
multi30k/*order
multi30k/features
multi30k/raw
faster_rcnn_inception_resnet_v2_atrous_oid_v4_2018_12_12_ghconfig_reexport
mosesdecoder/
